.contact-box{
    height: calc(100vh - 245px);
    font-weight: 550;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-header-text{
    font-size: 3.8rem;
    font-weight: 600;
    margin-top: -100px;
}

.contact-icon{
    transform: scale(3);
    margin: 90px 0 50px;
}

.contact-data{
    text-decoration: none;
    color: #445964;
    font-size: 1.6rem;
}

.contact-data:hover{
    color: #f48226;
}