.main-menu-btn{
    text-decoration: none;
    font-size: 1.25rem;
    color: #445964;
    font-weight: 500;
    transition: 0.3s;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
}

.main-menu-lang-btn{
    display: flex;
    align-items: center;
    width: 43px;
    justify-content: space-between;
    margin-left: 20px;
}

.hidden-menu-lang-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
}

.view-header{
    font-size: 4.25rem;
    font-weight: 550;
    margin: 50px 0 80px;
}

.main-menu-btn:hover, .main-menu-lang-btn:hover, .hidden-menu-lang-btn:hover {
    transition: 0.3s;
    color: #f48226;
}

.main-hover-effect{
    transition: 700ms;
}

.main-hover-effect:hover{
    transition: 700ms;
    transform: scale(1.05);
}

@media only screen and (max-width:1500px) {
    .main-menu-btn{
        font-size: 1.1rem;
        padding: 15px 10px 15px 10px;
    }
}
