.footer-box{
    height: 115px;
}

.footer-btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 70%;
}

.footer-btn{
    width: 13px;
    height: 13px;
    transform: scale(3);
    margin: 0 30px 0 30px;
    transition: 0.3s;
}

.footer-btn:hover{
    color: #F48226;
    transition: 0.3s;
}

.footer-text{
    font-size: 1.1rem;
    font-weight: 500;
}

@media only screen and (max-width: 450px) {
    .footer-btn{
        transform: scale(2.5);
    }

    .footer-text{
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 350px) {
    .footer-box{
        height: 100px;
    }

    .footer-btn{
        transform: scale(2.0);
    }

    .footer-text{
        font-size: 0.9rem;
    }
}