.more-about-me-btn{
    margin-top: 50px;
    width: 300px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #445964;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    transition: 0.3s;
}

.more-about-me-btn:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

@media only screen and (max-width: 500px) {
    .more-about-me-btn{
        margin-top: 5px;
        transform: scale(0.8);
        margin-left: -30px;
    }
}

@media only screen and (max-width: 300px) {
    .more-about-me-btn{
        transform: scale(0.7);
        margin-left: -45px;
    }
}

@media only screen and (max-height: 900px) and (orientation : landscape){
    .more-about-me-btn{
        margin-top: 10px;
    }
}

@media only screen and (max-height: 700px) and (orientation : landscape){
    .more-about-me-btn{
        margin-top: 10px;
    }
}