.small-main-btn{
    background-color: #ffffff;
    color: #445964;
    border: 0;
    transform: scale(3);
    transition: 0.3s;
    margin-right: 60px;
}

.small-main-btn:hover{
    transition: 0.3s;
    color: #f48226;
}

.small-menu-box{
    padding-top: 50px;
    background-color: #ffffff;
    opacity: 0.85;
    width: 330px;
    height: calc(100vh - 235px);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 120px;
    right: 0;
    min-height: 400px;
}

.small-menu-btn{
    text-decoration: none;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #445964;
}

.small-menu-btn:hover{
    color: #f48226;
}


@media only screen and (max-width: 900px) {
    .small-menu-box{
        padding-top: 60px;
        opacity: 1;
        height: 100vh;
        width: 100vw;
    }

    .small-menu-btn{
        text-decoration: none;
        height: 80px;
        font-size: 1.8rem;
        color: #445964;
    }
}

@media only screen and (max-width: 750px) {
    .small-main-btn{
        margin-right: 30px;
    }
}

.active{
    color: #f48226;
}