.technologies-box{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
}

.technologies-section{
    width: 100%;
    max-width: 740px;
    min-height: 180px;
    margin: 0 20px 50px 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid #F48226;
    border-radius: 15px;
    justify-content: space-between;
}

.technologies-section-box-two-section{
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.technologies-section-header-box{
    height: 55px;
    border-radius: 10px 10px 0 0;
    background-color: #F48226;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 500;
}

.technologies-main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
}

.technologies-section-gray-border{
    border: 2px solid #445964;
}

.technologies-section-gray-background{
    background-color: #445964;
    border: 2px solid #445964;
}

.technologies-section-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    min-height: calc(180px - 55px);
    justify-content: space-around;
    flex-wrap: wrap;
}

.technologies-text{
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-width: 200px;
}

.technologies-icon{
    margin-right: 30px;
    height: 50px;
    width: 50px;
}

.main-technologies-icon{
    margin-right: 30px;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width:1500px) {
    .technologies-text{
        margin: 20px 20px 20px 20px;
    }
}

@media only screen and (max-width:500px) {
    .technologies-text{
        margin: 10px 20px 10px 20px;
    }

    .technologies-section{
        margin: 0 20px 20px 20px;
    }

    .main-technologies-icon{
        margin-right: 20px;
        height: 50px;
        width: 50px;
    }

    .technologies-text{
        font-size: 1.2rem;
    }

}